@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sacrament Meeting Planner 9000</h1>
    <img src="images/sacrament.jpg" alt="bread-and-water" width="25%"/>
</div>
